[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
redis = "*"
isort = "*"
redis-om = "*"
celery = {extras = ["redis"], version = "*"}
pytest = "*"
requests = "*"
pytest-cov = "*"
tox = "*"
exceptiongroup = "*"
pre-commit = "*"
flake8 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
